html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body{
display: flex;
justify-content: center;
align-items: center;
margin: auto;
background-color: rgb(5, 5, 5);
flex-direction: column;
}

span {
  margin-top: 2rem;
  font-size: 2rem;
  
  color: rgb(194, 194, 194);
}

span a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  
}

span a:hover{
  color: rgb(68, 155, 255);
}